<span id="title-firstname">{{ site.title.firstname }}</span>
<span id="title-lastname">{{ site.title.lastname }}</span>
<script>
  (() => {
    const lastname = document.getElementById("title-lastname");
    const names = [
      document.getElementById("title-firstname"),
    ];
    const firstname = document.getElementById("title-firstname");
    const positions = ['right', 'left'];
    const slideAndStay = pos => `title-slide-${pos} title-stay-${pos}`;

    //names[0].style.display = 'none';
    firstname.className = "title-stay-left";
    lastname.className = "title-stay-right";

    setInterval(animate, 1000);
  })();
</script>
