---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h1 class="page-heading">Hi, welcome to my personal site!</h1>
  <div class="intro-content">
    <div class="profile-container">
      <img class="my-photo" src="assets/images/me.jpeg" />
      <div style="display: flex; flex-direction: row; justify-content: center; padding-top: 15px; padding-bottom: 15px">
        {%- include components/link-button.html
          link="https://docs.google.com/document/d/1T29_RleQ759yxueenBdnSJMKkgXYOJa1GcnTSTnBz3Q/edit?usp=sharing"
          text="Check out my Resume!"
        -%}
      </div>
    </div>
    <div>
      {{ content }}
    </div>
  </div>

  <br/>

  <h2 id="experience">Experience</h2>
  <ul class="post-list">
    {%- assign exps_ends = site.experiences | group_by: 'end' | sort: 'name' | reverse -%}
    {%- for exps_end in exps_ends -%}
      {%- assign exps = exps_end.items | sort: 'start' | reverse -%}
      {%- for exp in exps -%}
        {%- include components/experience-card.html exp=exp -%}
      {%- endfor -%}
    {%- endfor -%}
  </ul>



  <br/>

  <h2 id="programmingprojects">Programming Projects</h2>
  <p>
  Programming is more than just an occupation for me—it's a hobby. 
  </p>

  <p>
  I love learning to solve problems idiomatically across languages of varying paradigms.
  I have a strong grounding in C-family languages like C++, Java, C#, etc. <a href="https://python.org">Python</a> is my go-to language for small tasks. More recently, I have enjoyed functional programming in <a href="https://racket-lang.org">Racket</a> and <a href="https://haskell.org">Haskell</a>. 
  </p>


  <div class="home-programmingprojects">
    {%- assign programmingprojects = site.programmingprojects | sort: 'priority' -%}
    {%- for project in programmingprojects -%}
      {%- include components/project-thumbnail.html project=project -%}
    {%- endfor -%}
  </div> 


  <br/>

 <h2 id="otherprojects">Other Projects</h2>

  <p>
  Besides programming, I enjoy composing/improvising on the piano, <a href="https://www.reddit.com/r/conlangs/">conlanging</a>, <a href="https://en.wikipedia.org/wiki/Zettelkasten">zettelkasten</a>, and experiencing <a href="https://en.wikipedia.org/wiki/Attack_on_Titan">great stories</a>.
  </p>

  <div class="home-programmingprojects">
    {%- assign otherprojects = site.otherprojects | sort: 'priority' -%}
    {%- for project in otherprojects -%}
      {%- include components/project-thumbnail.html project=project -%}
    {%- endfor -%}
  </div>

</div>
